<div class="row"><br>

    <div class="col-xs-12">

        <div id="carousel01" class="carousel slide" data-ride="carousel" data-interval="3000">

            <ol class="carousel-indicators">
                <li data-target="#carousel01" data-slide-to="0" class="active"></li>
                <li data-target="#carousel01" data-slide-to="1" class=""></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/background01.jpg" alt="imagem escrito foto 1">
                    <div class="carousel-caption">
                        <h3>Teste Linkya</h3>
                        <p>
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                        </p>
                        <p>
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/background02.jpg" alt="imagem escrito foto 3">
                    <div class="carousel-caption">
                        <h3>Teste Linkya</h3>
                        <p>
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                          Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                        </p>
                    </div>
                </div>
            </div>

            <a href="#carousel01" role="button" data-slide="prev" class="left carousel-control">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#carousel01" role="button" data-slide="next" class="right carousel-control">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
   <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form id="login-form">
      <input type="text" name="user" placeholder="Username" required oninvalid="this.setCustomValidity('Please Enter your Username')" oninput="setCustomValidity('')">
      <input type="password" name="pass" placeholder="Password" required oninvalid="this.setCustomValidity('Please Enter your Password')" oninput="setCustomValidity('')">
      <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>

      <!-- <div class="login-help">
      <a href="#" data-toggle="modal" data-target="#register-modal">Register</a>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
 <div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Register</h1><br>
    <form id="register-form">
    <input type="text" name="name" placeholder="Name" required oninvalid="this.setCustomValidity('Please Enter your Name')" oninput="setCustomValidity('')">
    <input type="text" name="mail" placeholder="Email" required oninvalid="this.setCustomValidity('Please Enter your Mail')" oninput="setCustomValidity('')">
    <input type="text" name="user" placeholder="Username" required oninvalid="this.setCustomValidity('Please Enter your Username')" oninput="setCustomValidity('')">
    <input type="password" name="pass" placeholder="Password" required oninvalid="this.setCustomValidity('Please Enter your password')" oninput="setCustomValidity('')">
    <input type="submit" name="register" id="but-test" class="login loginmodal-submit" value="Register">
    </form>

    <!-- <div class="login-help">
    <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
    </div> -->
  </div>
</div>
</div>
