<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <!-- isso é o ícone que aparece quando fica tela pequena -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#elementoCollapse1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="" class="navbar-brand">TODOS.list</a>
            </div>

            <!-- Essas clases de collapse reduzem a navbar ao icone de barrinha -->
            <!-- Para acabar com esse efeito só tirar essa div e manter oque tem dentro dela, tirar também o button navbar-toggle -->
            <div class="collapse navbar-collapse navbar-right" id="elementoCollapse1">

                <form class="loged-options navbar-form navbar-nav hide" id="create-project-form">
                    <div class="form-group">
                        <label>NEW PROJECT </label>
                        <input type="text" name="name" class="form-control" placeholder="Project Name" required oninvalid="this.setCustomValidity('Please enter project name')" oninput="setCustomValidity('')">
                        <input type="hidden" name="user" class="form-control user-id-field">
                    </div>
                    <input type="submit" value="CREATE" class="btn btn-primary">

                </form>

                <ul class="nav navbar-nav">
                    <li class="login-options"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    <li class="login-options"><a href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>
                    <li class="loged-options dropdown hide">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-user"></span> todos<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)" id="logout-button">Logout</a> </li>
                        </ul>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
