<div class="col-xs-6">
  <div class="panel panel-default" id="project_444030">
      <div class="panel-heading">
        <span class="project_name_content">6602060330</span>
          <div class="pull-right btn-group">
            <button class="btn btn-primary btn-xs edit_project" id="edit_project_444030"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-danger btn-xs delete_project" id="delete_project_444030"><span class="glyphicon glyphicon-trash"></span></button>
          </div>
      </div>
      <ul class="list-group" id="tasks_content_444030">
      </ul>
      <div class="panel-footer">
        <form class="navbar-form navbar-nav pull-right create-task-form">
          <div class="input-group input-group-sm">
              <input type="text" name="name" class="form-control" placeholder="Task" required>
              <input type="hidden" name="project" class="form-control" value="444030">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">ADD</button>
              </span>
          </div>
        </form><br><br>
      </div>
  </div>
</div>
