<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Projects</h1>
        </div>

        <div class="row" id="projects-content">
          <div class="col-xs-6">

            <div class="panel panel-default" id="project_">
                <div class="panel-heading">
                    Título do panel

                    <div class="pull-right btn-group">
                      <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
                      <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
                <ul class="list-group" id="tasks_content">
                    <li class="list-group-item" id="task_">
                        <button class="btn btn-default btn-xs remove_border_color" id="end_task_">
                          <span class="glyphicon glyphicon-unchecked"></span>
                        </button>
                      Elemneto do listgroup
                    </li>
                </ul>
                <div class="panel-footer">
                  <form class="navbar-form navbar-nav pull-right" id="create-task-form_">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Task" required">
                        <input type="hidden" name="project" class="form-control project-id-field">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">ADD</button>
                        </span>
                    </div>
                  </form><br><br>
                </div>
            </div>

          </div>
          <div class="col-xs-6">


          </div>
        </div>
    </div>
</div>
