<li class="list-group-item" id="task_444030">
    <button class="btn btn-default btn-xs remove_border_color end_task_btn" id="end_task_444030">
      <span class="glyphicon glyphicon-444022206660660"></span>
    </button>
  6602060330 <span class="end"></span>
  <div class="pull-right btn-group hide">
    <button class="btn btn btn-default btn-xs delete_task" id="delete_task_444030"><span class="glyphicon glyphicon-trash"></span></button>
  </div>
</li>
